.filters {
  margin-top: 15px;
  margin-bottom: 15px;
}

hubber-news-item {
  display: block;
  margin-bottom: 10px;
}

.articles {
  height: calc(100vh - 150px);
  width: 100%;
  overflow: scroll;
  margin-bottom: 15px;
}

@media screen and (max-width: 991px) {
  .articles {
    height: calc(100vh - 185px);
  }

  .hubber-select {
    margin-bottom: 15px;
  }
}
