@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body, html {
  overflow: hidden;
  height: 100%;
}
body {
  font-family: 'Noto Sans', sans-serif;
}
